*, *::before, *::after {
  @extend %border-box;
}

body {
    background-color: $burnt-sienna;
    margin: 0;
}

h1 {
  @include font-properties(futura, 4em);
  @extend %text-align-center;
  color: $turquoise-blue;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}

h4 {
  @include font-properties(futura, 1.5em);
  @extend %text-align-center;
  color: $white;
  margin-top: -10px;
  letter-spacing: 3px;
}

#content {
  padding-top: 50px;
}

.information {
  filter: grayscale(1);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
    filter: grayscale(0);
  }
}

.search {
  padding-bottom: 25px;
}
