*, *::before, *::after {
  @extend %border-box;
}

body {
    background-color: $persimmon;
    margin: 0;
}

h1 {
  @include font-properties(futura, 4em);
  @extend %text-align-center;
  color: $turquoise-blue;
  padding-top: 10px;
  text-align: center;
  font-style: italic;
}

h4 {
  @include font-properties(futura, 1.5em);
  @extend %text-align-center;
  color: $white;
  margin-top: -10px;
  letter-spacing: 3px;
}

#content {
  padding-top: 50px;
}

.information {
  &:hover {
    filter: brightness(.8);
    cursor: pointer;
  }
}

.search {
  padding-bottom: 10px;
}
