// Descriptive color variables
$white : #FFFFFF;
$orange : #FF4500;
$burnt-sienna : #EC5D62;
$sail : #BDDAFA;
$turquoise-blue : #6CDAE7;
$persimmon  : #FF5E51;
$red-orange : #FF3E2F;
$papaya-whip : #FFF1D3;
